
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
}

.container {
    width: 400px;
    margin-top: 70px;
    
}

header {
    width: 100%;
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #2C2F33;
    font-size: 2rem;
}

h1 {
    
    font-size: 2rem;
}

.score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.badge {
    background-color: #FF6363;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #7289da;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result p {
    margin: 70px 0;
    font-size: 1.2rem;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.choice {
    font-size: 3rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.choice:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}
